.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.termAndCondition{
  display: flex;
  background-color: #222222;
  height: 600px;
  width: 100%
}

.titleView{
  display: flex;
  margin-top: 400px;
  width: 90%
}

.TitleText{
  font-size: 20px;
  color : #6e6e6e;
  font-family: Arial, Helvetica, sans-serif
}

.termAndConditionContent{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 70px
}

.leftSide{
  width: 15%
}

.rightSide{
  width: 10%
}

.table-content{
  width: 25%;
}

.content-view{
  width: 50%
}
.content-margin{
  margin-bottom: 40px

}

.titleTableContent{
  font-size: 20px;
  font-weight: 600;
}

.listItem{
  font-size: 14px;
  font-weight: 600;
}

.listContent-title{
  font-size: 22px;
  font-weight: 700;
}

.listContent-title2{
  font-size: 14px;
  font-weight: 700;
}

.listContent-text{
  color : #6e6e6e;
  margin-bottom: 40px
}

@media(max-width: 800px){
  .leftSide{
    width: 10%
  }
  
  .rightSide{
    width: 10%
  }
  .termAndConditionContent{
    flex-direction: column;
    display: flex;
    align-items: center
  }
  .table-content{
    width: 80%;
    
  }
  
  .content-view{
    width: 80%
  }

  .QAtable{
    padding-bottom: 50px
  }

 
}

.footer{
  width: 100%;
  background-color: #222222;
}

.footer-content{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px
}

.footer-text{
  color: #d6d3d3;
  font-size: 12px
}

.QA{
  width: 100%;
  background-color: #222222;
}

.QA-header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.QA-headerText{
  color: #f7f4f4;
  font-size: 22px;
  font: 900
}

.QA-title{
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row
}

.title-QA{
  width: 90%;
  padding-bottom: 60px;
  padding-top: 30px;
/* background-color: #6e6e6e */
}

.QA-heading{
  font-size: 60px;
  font-weight: bold;
}

.QA-titleText{
  font-size: 18px;
  color : #6e6e6e;
}

.listItem-text{
  font-size: 16px;
  font-weight: 700;
}

.listItemQA{
  border-top: 1px solid black;
  padding: 16px
}

.QA-listContent{
  padding-bottom: 50px
}